<div class="pointeger-menu">
  <nav class="menu-nav">
    <ul class="nav-list">
      {% for menu in linklists['main-menu'].links -%}
        <li class="list-items">
          <span class="link-wrapper">
            <a href="{{menu.url}}" style="font-size:{{ section.settings.font_size }}px;">{{ menu.title }}</a>
            {%- if menu.levels > 0 -%}
              {% render 'icon-caret' %}
            {%- endif -%}
          </span>
          {%- if menu.levels > 0 -%}
            <div class="drop-down">
              <ul class="nav-item-level-2">
                {%- for child in menu.links %}
                  <li class="list-items-level-2">
                    <span class="link-wrapper">
                      <a href="{{child.url}}">
                        {{ child.title }}
                      </a>
                      {%- if child.levels > 0 -%}
                        {% render 'icon-caret' %}
                      {%- endif -%}
                    </span>
                    <ul class="nav-item-level-3">
                      {%- for grandchild in child.links -%}
                        <li class="list-items-level-3">
                          <a href="{{grandchild.url}}">{{ grandchild.title }}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </li>
                {%- endfor -%}
              </ul>
              {%- for block in blocks.section -%}
                <div>
                  <img
                    src="{{ block.settings.image | img_url: '400x300' }}"
                    width="100%"
                    height="85%">
                  <p style="font-size:{{ section.settings.font_size }}px">{{ block.settings.textid }}</p>
                </div>
              {%- endfor -%}
            </div>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </nav>
</div>

{% schema %}
  {
    "name": "nav-bar",
    "tag": "section",
    "class": "nav-bar",
    "limit": 2,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "navbar"
      }, {
        "type": "select",
        "id": "vertical_alignment",
        "label": "text alignment",
        "options": [
          {
            "value": "left",
            "label": "left"
          }, {
            "value": "center",
            "label": "center"
          }, {
            "value": "right",
            "label": "right"
          }
        ],
        "default": "left"
      }, {
        "type": "range",
        "id": "font_size",
        "min": 12,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
      }
    ],
    "max_blocks": 30,
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "textid",
            "label": "textfield",
            "default": "I am section"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "nav-bar",
        "settings": {
          "title": "nav-bar"
        },
        "blocks": [
          {
            "type": "slide"
          }, {
            "type": "slide"
          }
        ]
      }
    ],
    "locales": {
      "en": {
        "title": "nav-bar"
      },
      "fr": {
        "title": "Diaporama"
      }
    },
    "enabled_on": {
      "groups": ["header"]
    }
  }
{% endschema %}

{% stylesheet %}
  

{% endstylesheet %}

{% javascript %}


{% endjavascript %}